.picture {
  width: 300px;
  border: 1px solid #FBFBFF;
  object-fit: cover;
  aspect-ratio: 1;

  /* centers the image */
  display: block;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 12px;
}

.header {
  font-family: 'Playfair Display', serif;
}

body {
  background-color: #FBFBFF;
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
}

.page-container {
  width: 80%;
  margin-top: 5rem;
  margin: auto;
  text-align: center;
  line-height: 1.7;
}

nav {
  overflow: hidden;
  float: right;
  padding-left: 150px;
  margin-right: 50px;
  margin-top: 10px;
}

.nav-container {
  flex: 1;
  color: #333;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
  font-family: 'Playfair Display', serif;
}

.nav-container:hover,
.nav-container:focus {
  background-color: #FBFBFF;
  color: black;
  font-weight: bold;
  font-size:large;
}

.header {
  position: relative;
  display: inline-flex;
  font-size: 35px;
  font-family: 'Nanum Gothic', sans-serif;
}

.p1 {
  margin-left: 200px;
  font-size: larger;
}

.p2 {
  margin-right: 200px;
  font-size: larger;
}

.p3 {
  margin-left: 200px;
  margin-right: 200px;
  font-size: larger;
}

h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h2, h3 {
  font-family: 'Playfair Display', serif;
  /* margin-right: 200px;
  margin-left: 200px; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic1 {
  margin-right: 200px;
  margin-left: 100px;
}

.pic2 {
  margin-right: 100px;
  margin-left: 200px;
}